@model MagicConsole.features.Home.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}


<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <a href="#" class="fa fa-times"></a>
        </div>

        <h2 class="panel-title">Overview</h2>
    </header>
    <div class="panel-body">

  
    </div>
</section>

@{
    Html.RenderPartial("_Categories");
}

@Scripts.Render("~/bundles/codeeditor")
